@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--background: #ffffff;
	--foreground: #282a68;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

/* @keyframes bg_anim {
	0% {
		background-color: hsl(0, 21%, 10%);
	}
	17% {
		background-color: hsl(60, 21%, 10%);
	}
	33% {
		background-color: hsl(120, 21%, 10%);
	}
	50% {
		background-color: hsl(180, 21%, 10%);
	}
	67% {
		background-color: hsl(240, 21%, 10%);
	}
	84% {
		background-color: hsl(300, 21%, 10%);
	}
	100% {
		background-color: hsl(355, 21%, 10%);
	}
} */

@keyframes bg_anim {
	0% {
		background-color: hsl(236, 41%, 12%);
		/* box-shadow: 40px 0 50px -40px inset hsl(236, 80%, 30%); */
	}
	50% {
		background-color: hsl(274, 41%, 12%);
		/* box-shadow: 40px 0 50px -40px inset hsl(274, 80%, 30%); */
	}
	100% {
		background-color: hsl(236, 41%, 12%);
		/* box-shadow: 40px 0 50px -40px inset hsl(236, 80%, 30%); */
	}
}

@keyframes bg_eff_anim {
	0% {
		/* background-image: radial-gradient(
			circle,
			hsl(236, 60%, 20%),
			hsl(236, 41%, 12%)
		); */
		box-shadow: 0 0 250px 180px hsl(236, 80%, 30%);
		background-color: hsl(236, 80%, 30%);
	}
	50% {
		/* background-image: radial-gradient(
			circle,
			hsl(274, 60%, 20%),
			hsl(274, 41%, 12%)
		); */
		box-shadow: 0 0 250px 180px hsl(274, 80%, 30%);
		background-color: hsl(274, 80%, 30%);
	}
	100% {
		/* background-image: radial-gradient(
			circle,
			hsl(236, 60%, 20%),
			hsl(236, 41%, 12%)
		); */
		box-shadow: 0 0 250px 180px hsl(236, 80%, 30%);
		background-color: hsl(236, 80%, 30%);
	}
}

body {
	/* background: #11111a; */
	font-family: Arial, Helvetica, sans-serif;
	animation-name: bg_anim;
	animation-duration: 14s;
	animation-iteration-count: infinite;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.customscroll::-webkit-scrollbar-track {
		background-color: transparent;
		display: none;
	}

	.customscroll::-webkit-scrollbar-track:hover {
		background-color: transparent;
		display: none;
	}
	.customscroll::-webkit-scrollbar-track:active {
		background-color: transparent;
		display: none;
	}

	.bg_effect {
		pointer-events: none;
		animation-name: bg_eff_anim;
		animation-duration: 14s;
		animation-iteration-count: infinite;
		width: 2px;
		height: 2px;
		opacity: 0.5;
	}
}
